@import url('https://fonts.googleapis.com/css?family=Nunito%20Sans');

#root{
    height: 100%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    margin:0;
}
body {
    padding :0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
  }

.chatPage {
    background-color: #ecf0f1;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .chatPage .rightSide {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .channelBar{
    color: #fff;
    background-color: #8395a7;
    width:20%;
  }

    .channelName{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor : pointer;
        height: 30px;
        background-color: #576574;
        text-align: center;
        padding : 10px;
    }

    .chatContainer{
        width: 100%;
        overflow-y: scroll;
    }

    .message{
        padding: 10px 30px;
        display: flex;
        color: #00204a;
    }

    .message .author{
        font-weight: 900;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .message .author .date{
        font-weight: 400;
        font-size: 11px;
        margin-left: 10px;
    }

    .message .msgContent {
        padding-left: 10px;
        white-space: pre-wrap;
    }   



.loginPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    align-items: center;
    justify-content: space-between;
  }
  

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: #00204a;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .footer p {
    color: #00204a;
  }

.header {
  width: 100%;
  height: 100px;
}

.header .logo {
    height: 100%;
    margin: 0 100px;
}

.chatPage .chatInput {
    margin-top: 5px;
}